body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  line-height: 1.5;
}
body {
  /* CSS Variables that may have been missed get put on body */
  --size: 20px;
  --tw-text-opacity: 1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-default);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  line-height: 1.5;
  overscroll-behavior-y: contain;
}
body {
  line-height: inherit;
  margin: 0;
}
:root {
  --text-dark: #000;
  --text-default: #4b4b4b;
  --bg-default: #fff;
  --bg-footer: #f1f3f4;
  --bg-controls-hover: #dedede;
  --clr-border: #e6e6e6;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
.mt-\[72px\] {
  margin-top: 72px;
}
.footer-lcs {
  background-color: var(--bg-footer);
}
.px-45f {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
.mx-tlo {
  margin-left: auto;
  margin-right: auto;
}
.w-xip {
  width: 100%;
}
.max-w-\[1425px\] {
  max-width: 1425px;
}
.fle-5fx {
  display: flex;
}
.fle-ffx {
  width: 100%;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  justify-content: space-between;
}
.item-nv7 {
  align-items: center;
}
.gap-cqs {
  gap: 2rem;
}
.py-q66 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.brdr {
  border-bottom: 1px solid #e5e7eb;
}
.flex-od9 {
  flex-wrap: wrap;
}
.item-3yr {
  align-items: flex-start;
}
.gap-2xb {
  gap: 0.5rem;
}
.gap-y-78t {
  row-gap: 2rem;
}
.border-4nh {
  border-top-width: 1px;
}
.border-t-clr-1j8 {
  border-top-color: var(--clr-border);
}
.py-y8q {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}
.gap-wqx {
  gap: 1.5rem;
}
.pb-oza {
  padding-bottom: 2.5rem;
}
.pt-bof {
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .mdgap-w5e {
    gap: 2rem;
  }
  .mdpb-lmg {
    padding-bottom: 3rem;
  }
  .mdpt-ysb {
    padding-top: 2rem;
  }
}
.text-vfb {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.font-7qn {
  font-weight: 500;
}
.text-qbo {
  color: var(--text-dark);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.basis-\[100\%\] {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .md\:basis-\[calc\(33\%-8px\)\] {
    flex-basis: calc(33% - 8px);
  }
}
@media (min-width: 1024px) {
  .lg\:basis-\[calc\(25\%-8px\)\] {
    flex-basis: calc(25% - 8px);
  }
}
@media (min-width: 1280px) {
  .xl\:basis-\[calc\(20\%-8px\)\] {
    flex-basis: calc(20% - 8px);
  }
}
.row-2pw {
  flex-grow: 1;
}
.justify-by5 {
  justify-content: space-between;
}
.gap-y-ejx {
  row-gap: 0.5rem;
}
.ml-zjl {
  margin-left: auto !important;
  margin-left: auto;
}
.hid-4ad {
  display: none;
}
@media (min-width: 768px) {
  .block-gnh {
    display: block;
  }
}
li {
  list-style: none;
}
h3 {
  font-size: inherit;
  font-weight: inherit;
}
h3 {
  margin: 0;
}
.pb-xn9 {
  padding-bottom: 1.5rem;
}
.font-5nk {
  font-weight: 600;
}
.col-4j4 {
  flex-direction: column;
}
a {
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.logo-lvn {
  display: flex;
  grid-area: header-main-left;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
}
@media (min-width: 768px) {
  .md-yrl {
    display: none;
  }
}
button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  outline: none;
}
button {
  cursor: pointer;
}
button {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
.aspect-hqo {
  aspect-ratio: 1/1;
}
.w-lip {
  width: 3rem;
}
.justify-2my {
  justify-content: center;
}
.rounded-oj8 {
  border-radius: 9999px;
}
.bg-bg-controls-qjh {
  background-color: var(--bg-controls-hover);
}
.text-ipl {
  color: var(--text-default);
}
.text-6d1:hover {
  color: var(--text-dark);
}
.rel-6a5 {
  position: relative;
}
.-mb-1-slh {
  margin-bottom: -0.25rem;
}
.col-snq {
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.whitespace-bo1 {
  white-space: nowrap;
}
.text-jhg {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.hov-b95:hover {
  text-decoration-line: underline;
}
.icon-97k {
  --size: 20px;
  align-items: center;
  display: flex;
  height: var(--size);
  justify-content: center;
  max-width: var(--size);
  min-width: var(--size);
  width: 100%;
}
.block-bkb {
  display: block;
}
.py-784 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.leading-fpi {
  line-height: 1.5rem;
}
.pb-1\.5 {
  padding-bottom: 0.375rem;
}
.text-joy {
  font-size: 1.5rem;
  line-height: 2rem;
}
.font-scm {
  font-weight: 700;
}
.leading-c27 {
  line-height: 1;
}
@media (min-width: 768px) {
  .text-g3t {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.mb-7do {
  margin-bottom: 0.25rem;
}
.ml-za6 {
  margin-left: 0.25rem;
}
.min-h-\[34px\] {
  min-height: 34px;
}
.rounded-6oy {
  border-radius: 0.75rem;
}
.text-1a1 {
  background-color: var(--text-dark);
}
.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
@media (min-width: 768px) {
  .md\:min-h-\[38px\] {
    min-height: 38px;
  }
}
svg {
  display: block;
  vertical-align: middle;
}
.icon-97k svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
.text-q4b {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 10px;
}
.text-sag {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
  .text-hz1 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
/* These were inline style tags. Uses id+class to override almost everything */
#style-8xwZW.style-8xwZW {
  --size: 24px;
}
#style-D69fA.style-D69fA {
  --size: 24px;
}
#style-ZnW8E.style-ZnW8E {
  --size: 24px;
}
#style-E37Bv.style-E37Bv {
  --size: 20px;
}
#style-KYcJf.style-KYcJf {
  --size: 20px;
}

.fle-ul ul {
  font-size: 14px;
}
